@charset "UTF-8";
/* collapsibleButton component */
.collapsibleButton {
  /* container styling */
  border: 1px solid grey;
  /* button styling */
  /* content styling */
  /* active state */
}
.collapsibleButton__button {
  background: #1abc9c;
  color: #ffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  /* icons for the button */
}
.collapsibleButton__button:hover {
  background-color: #ccc;
}
.collapsibleButton__button::after {
  content: "➕";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.collapsibleButton__content {
  padding: 0 18px;
  background-color: #f1f1f1;
  height: 0px;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
.collapsibleButton__content p {
  color: teal;
}
.collapsibleButton.--active {
  /* content section when component is active */
  /* change the button icon to "-" */
}
.collapsibleButton.--active .collapsibleButton__content {
  height: 50px;
}
.collapsibleButton.--active .collapsibleButton__button::after {
  content: "➖";
  /* Unicode character for "minus" sign (-) */
}