@import 'general/index.scss';

.input {
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    margin: 20px;
    margin-top: 0px;
}