.menu {
    display: flex;
    justify-content: space-between; 
    align-items: center;
   }
   .fas {
       font-size: 30px;
       color: teal;
   }
   .fa-plus-square {
       font-size: 50px;
   }

  