.mygarden__image {
    cursor: move;
    position: absolute;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  #mydiv {
    position: absolute;
    z-index: 9;
    top: 300px;
  }